.grid-rows-custom {
  /* grid-template-rows: min-content repeat(5, minmax(0, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr)); */
  /* taghir row */
  grid-template-rows: repeat(6, minmax(0, min-content));
}

.gallery-grid {
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  /* grid-template-rows: repeat(4, 1fr); */
  /* grid-auto-rows: min-content; */
  grid-auto-flow: row dense;
}

.hero-img {
  filter: blur(2px) brightness(0.5);
}

.bg-black-custom {
  background-color: #151515;
}

.sidebar {
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}

@media screen and (max-width: 25em) {
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu{
    flex-wrap: wrap-reverse;
  }
  .menu-view{
   margin-left: 0;
  }
  .search-form {
    margin-left: 0.5rem;
  }
  .search-form input {
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: 0 !important;
  }
  .search-form label{
    display: flex;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  .gallery-grid {
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* .grid-cols-custom-2 {
  grid-template-columns: repeat(6, minmax(5rem, 1fr));
} */

/* .grid-cols-custom-3 {
  grid-template-columns: repeat(10, minmax(max-content, 1fr));
} */

/* .grid-rows-custom-2 {
  grid-template-rows: repeat(3, min-content);
} */

/* .grid-cols-custom {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
} */

/* .gallery-item-grid {
  grid-template-columns: repeat(3, minmax(4.5rem, 1fr));
  grid-template-rows: repeat(2, minmax(3.75rem, 1fr)) repeat(2, min-content);
} */
